<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Add some things</h1>
  <form action="/things/<%= thing._id %>?_method=PUT" method="POST">
    <input value="<%= thing.thing %>" name="thing" placeholder="Name" type="text"><br>
    <input value="<%= thing.color %>" name="color" placeholder="Color" type="text"><br>
    How many?<input value="<%= thing.quantity %>" name="quantity" type="number">
    <button type="submit">Save yo things</button>
  </form>
</body>
</html>